# Editors temp files
*.swp
*~

# SCRAM business
__init__.py
*.pyc

# CRAB3 stuff
crab_*
crabConfig_*

#config files
*.dat

# ROOT-related files
*.root
*.C
*_cc.d
*_cc.so
*_C.d
*_C.so
*\#*
.\#*
AutoDict_*

# Other temp files
*.txt
*.log
*.png
*.pdf
*.out
*.tmp
*.pcm
*.o

# Output dirs in signal and bkg
Signal/outdir_*
Background/outdir_*
Background/bin/*
Background/obj
Background/RootDict.cxx
Background/RootDict*
Background/config*

Datacard/yields*
Datacard/Datacard_*
Datacard/Datacard_*
Datacard/all_*
Datacard/TestHybridNew
Signal/boost*
Signal/config*
Signal/allsys*
Signal/allsys*
Signal/outdir*
Trees2WS